.forget-page {
  margin: 40px 25px;
  .form-item {
    display: flex;
  }
  h1 {
    text-align: center;
    font-size: 23px;
    margin-bottom: 30px;
  }
}

.forget-page-bottom {
  display: flex;
  text-align: center;

  & > a {
    flex-grow: 1;
    button {
      flex-grow: 1;
      width: 100%;
      background: rgb(235, 235, 235);
    }
  }

  & > button {
    flex-grow: 1;
  }
}
