.register {
  margin: 40px 80px;
  margin-bottom: 60px;
  position: relative;
  .contents {
    margin-top: 40px;
  }
  .form-item {
    display: flex;
  }
  .phone {
    margin-bottom: 10px;
  }
  .foreign {
    cursor: pointer;
    position: absolute;
    top: 122px;
    left: 227px;
    color: rgb(80, 80, 80);
    i {
      font-size: 16px;
      position: relative;
      top: 2px;
      left: 2px;
    }
  }
}
