:global {
  html,
  body,
  #app {
    height: 100%;
    user-select: none;
    .icon {
      display: inline-block;
    }
  }

  textarea.ant-input {
    background: rgb(249, 249, 249) !important;
  }

  .ant-table-body {
    margin: 0 !important;
  }
  .ant-modal-header {
    background: rgb(240, 240, 240) !important;
  }
  .ant-table-thead {
    th {
      background: #f4f4f4 !important;
    }
  }

  a {
    color: rgb(56, 56, 56);
  }
}

:global {
  #popup-captcha {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    .geetest_holder {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 44px;
      width: 300px;
    }
  }
}

:global {
  .forget-page {
    margin: 40px;
    margin-bottom: 30px;
    .form-item {
      display: flex;
    }
    h1 {
      text-align: center;
      font-size: 23px;
      margin-bottom: 30px;
    }
  }
}
