html,
body {
  height: 100%;
  background: url("../images/bg.jpg") no-repeat;
  user-select: none;
}

#app {
  display: flex;
  height: 100%;
}
.app {
  width: 100%;
  .box {
    width: 500px;
    min-height: 400px;
    background: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 4px;
  }
}
