.container {
  flex-shrink: 0;
  margin: 0 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.name {
  font-size: 13px;
  margin-left: 8px;
}
.user {
  display: flex;
  align-items: center;
}
.menu {
  width: 100px;
}
.down {
  margin-left: 7px;
  position: relative;
  top: 0px;
}
